<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UserSuite">
    <listeners>
        <listener class-name="apiUtilities.ExtentReportManager"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/workspace/PetStoreAutomation/src/test/java/apiTest">
        <classes>
<!--            <class name="apiTest.OldUserTests">-->
<!--                <methods>-->
<!--                    <include name="testPostUser"/>-->
<!--                    <include name="testGetUserByName"/>-->
<!--                    <include name="testUpdateUserByName"/>-->
<!--                    <include name="testDeleteUserByName"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="apiTest.PetTests">-->
<!--                <methods>-->
<!--                    <include name="testAddPet"/>-->
<!--                </methods>-->
<!--            </class>-->
            <class name="apiTest.UserTests">
                <methods>
                    <include name="testPostUser"/>
                    <include name="testGetUserByName"/>
                    <include name="testUpdateUserByName"/>
                    <include name="testDeleteUserByName"/>
<!--                    <include name="testPostUsers"/>-->
                </methods>
            </class>
        </classes>
    </test>
</suite>